{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["prismjs", {
      "languages": ["json", "markup", "markup-templating", "handlebars", "diff"],
      "plugins": ["line-numbers", "diff"],
      "css": true
    }]
  ]
}